<?xml version="1.0"?>
<!--
/**
 * Admin routes configuration
 *
 * Magento 2 Stock prediction using AI
 * @author Hassan Ali Shahzad
 * email: levosoft786@gmail.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="stockpredict" frontName="stockpredict">
            <module name="AI_StockPredict"/>
        </route>
    </router>
</config>
